replicaCount: 3
kafka:
  clusterName: kafka-prod-dimo-kafka
env:
  KAFKA_BOOTSTRAP_SERVERS: kafka-prod-dimo-kafka-kafka-bootstrap
  S3_CLOUDEVENT_BUCKET: dimo-ingest-cloudevent-prod
  S3_EPHEMERAL_BUCKET: dimo-ingest-ephemeral-prod
  ENVIRONMENT: prod
  LOG_LEVEL: INFO
ingress:
  enabled: false
resources:
  limits:
    cpu: 3000m
    memory: 2000Mi
  requests:
    cpu: 3000m
    memory: 2000Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
image:
  tag: 0.0.7
